<<<<<<< HEAD
body#tinymce.wp-editor {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #f4f4f4;
    max-width: 450px;
    padding: 45px 35px 70px 35px;
}

body#tinymce.wp-editor a {
    text-decoration: none;
    color: #980006;
}

body#tinymce.wp-editor a:hover {
    color: #555;
}

body#tinymce.wp-editor h1 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 30px;
}

body#tinymce.wp-editor h2 {
    font-size: 21px;
    margin-top: 45px;
    margin-bottom: 15px;
}

body#tinymce.wp-editor h3 {
    font-size: 17px;
    margin-top: 50px;
    margin-bottom: 15px;
}

body#tinymce.wp-editor h4 {
    font-weight: bold;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 15px;
}

body#tinymce.wp-editor p {
    line-height: 25px;
    margin-bottom: 20px;
}

body#tinymce.wp-editor h1 + p {
    margin-top: 50px;
}

body#tinymce.wp-editor ul {
    list-style-type: disc;
    margin-left: 40px;
}

body#tinymce.wp-editor ol {
    margin-left: 40px;
}

body#tinymce.wp-editor ul li, body#tinymce.wp-editor ol li {
    line-height: 25px;
    margin-bottom: 10px;
}

body#tinymce.wp-editor blockquote {
    margin: 0 40px 20px 40px;
}

body#tinymce.wp-editor .wp-caption {
    max-width: 100%;
    border: none;
    border-top: 1px solid #d7d7d7;
    text-align: left;
    background-color: #f4f4f4;
    padding-top: 0;
}

body#tinymce.wp-editor .alignleft {
    float: left;
}

body#tinymce.wp-editor .aligncenter {
    display: block;
    margin: 0 auto;
}

body#tinymce.wp-editor .alignright {
    float: right;
}

body#tinymce.wp-editor .wp-caption.alignright, body#tinymce.wp-editor img.alignright {
    margin-left: 10px;
}

body#tinymce.wp-editor .wp-caption.alignright p.wp-caption-text, body#tinymce.wp-editor img.alignright {
    margin-bottom: 10px;
}

body#tinymce.wp-editor .wp-caption.alignleft, body#tinymce.wp-editor img.alignleft {
    margin-right: 10px;
}

body#tinymce.wp-editor .wp-caption.alignleft p.wp-caption-text, body#tinymce.wp-editor img.alignleft {
    margin-bottom: 10px;
}

body#tinymce.wp-editor .wp-caption-dd {
    font-size: 13px;
    line-height: 20px;
    color: #6a6a6a;
    padding: 15px 0 25px 0;
    border-bottom: 1px solid #e0e0e0;
}

.mceItemTable {
    border: none;
}

.mceItemTable tr:nth-child(odd) {
    background-color: #e4e3e3;
}

.mceItemTable tr:nth-child(even) {
    background-color: #fff;
}

.mceItemTable th {
    text-align: left;
    vertical-align: top;
}

.mceItemTable th, .mceItemTable td {
    padding: 10px;
    border: none;
    border-left: 1px solid #f4f4f4;
}

.mceItemTable thead td {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
}

.mceItemTable th:first-child, .mceItemTable td:first-child {
    border: none;
}

.mceItemTable td {
    font-size: 12px;
}

.mceItemTable td p {
    line-height: normal;
    margin-bottom: 10px;
}

.mceItemTable td p:last-child {
    margin-bottom: 0;
=======
/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/
/* A Linux-and Windows-friendly sans-serif font stack:  http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {
	font: 14px Helmet, Freesans, sans-serif;
	
}

/* Using local fonts? Check out Font Squirrel's webfont generator:  http://www.fontsquirrel.com/tools/webfont-generator */
/* We like off-black for text. */
body,select,input,textarea {
	color: #333;
}

a {
	color: #900;
	text-decoration: none;
}

a:hover {
	color: #555;
}

/* Custom text-selection colors (remove any text shadows:  http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
	background: #fcd700;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #fcd700;
	color: #fff;
	text-shadow: none;
}

/*  j.mp/webkit-tap-highlight-color */
a:link {
	-webkit-tap-highlight-color: #fcd700;
}

img{
	vertical-align: bottom;
}

ins {
	background-color: #fcd700;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #fcd700;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
	color: #a9a9a9;
}

textarea:-moz-placeholder {
	color: #a9a9a9;
}

h1 {
	font-family: Georgia, Times, serif;
	font-size: 30px;
	font-weight: normal;
	margin-bottom: 30px;
}

h2 {
	font-family: Helmet, Freesans, sans-serif;
	font-size: 21px;
	font-weight: bold;
	display: inline-block;
}

h3 {
	font-family: Helmet, Freesans, sans-serif;
	font-size: 17px;
	font-weight: bold;
}

h4 {
	margin-bottom: 13px;
	padding-bottom: 2px;
	font-family: Georgia, Times, serif;
	font-size: 18px;
	font-weight: normal;
	border-bottom: 1px solid #d2c5aa;
}

h5 {
	margin: 0;
	font-family: Georgia, Times, serif;
	font-size: 18px;
	font-weight: normal;
	line-height: 26px;
}

h6 {
	font-family: Georgia, Times, serif;
	font-weight: bold;
}


.alignleft {
	float: left;
	clear: both;
}

.alignright {
	float: right;
	clear: both;
}

.wrapper {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

#map-canvas {
	border: 2px solid red;
	width: 100px;
	height: 100px;
	text-align: center;
}

#map-canvas:after {
	content: "DO NOT DELETE";
	color: red;
	font-weight: bold;
}

.callout {
	border: 1px solid #ddd;
	background: #fff;
	margin: 20px 0;
	width: 700px;
	clear: both;
	padding: 20px;
	float: left;
	border-radius: 10px;
}

.callout div {
	line-height: 28px;
}

.callout ul {
	list-style: none;
	margin-left: 18px;
}

.facts-numbers {
	float: right;
	font-weight: bold;
}

/*
 * Forms
 */
label {
	float: left;
	display: inline;
	text-align: right;
	width: 170px;
	font-weight: bold;
	padding: 0 20px 0 0;
	margin: 10px 0;
}

input {
	width: 250px;
	margin: 10px 0;
	padding: 0;
	clear: right;
}

.button {
	width: 250px;
	position: relative;
	left: 190px;
	margin-right: -190px;
}

.button input {
	width: 100px;
	display: inline;
	margin-right: 10px;
>>>>>>> FETCH_HEAD
}