.chromeframe {position: absolute; top: 0;}

/* Hide only visually, but have it available for screenreaders */
.visuallyhidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}


/* General HTML elements
-------------------------------------------------------------------------------*/

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

a {
    text-decoration: none;
}


/* Clearfix
-------------------------------------------------------------------------------*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

/* Hides from IE-mac */
.clearfix {
    display: block;
}


/* Header
-------------------------------------------------------------------------------*/

#header-logo-row {
    background-color: #fff;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#header-logo {
    float: left;
    margin: 10px;
}

.ie7 #header-logo {
    padding-bottom: 15px;
}

#utility-bar {
    float: right;
}

#utility-nav {
    list-style-type: none;
    margin-top: 9px;
}

#utility-nav li {
    float: left;
    padding: 7px 15px;
    border-right: 1px solid #e8e8e8;
}

#utility-nav li.last-child {
    border: none;
}

#utility-nav li a {
    color: #999;
    font-size: 11px;
    text-transform: uppercase;
}

#utility-nav li a:hover {
    color: #900;
}

#header-text {
    display: none;
}

#header-site-row {
    background: #990000;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #990000 0%, #720000 72%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#990000), color-stop(72%,#720000));
    background: -webkit-linear-gradient(top, #990000 0%,#720000 72%);
    background: -o-linear-gradient(top, #990000 0%,#720000 72%);
    background: -ms-linear-gradient(top, #990000 0%,#720000 72%);
    background: linear-gradient(to bottom, #990000 0%,#720000 72%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990000', endColorstr='#720000',GradientType=0 );
}

#mobile-menu-icon {
    display: none;
}

#search-form {
    float: right;
    position: relative;
    margin-right: 10px;
    width: 280px;
    height: 25px;
}

#search-box {
    position: absolute;
    top: 24px;
    left: 30px;
    margin: 3px 0 0 10px;
    padding: 8px 25px 8px 10px;
    width: 205px;
    height: 12px;
    border: none;
    border-radius: 5px;
    background: #680101;
    -webkit-box-shadow: inset 1px 1px 1px #000000;
    -moz-box-shadow: inset 1px 1px 1px #000000;
    box-shadow: inset 1px 1px 1px #000000;
    color: #fff;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 12px;
}

#search-btn {
    position: absolute;
    top: 34px;
    left: 258px;
    cursor: pointer;
}

.ie7 #search-btn {
    height: 18px;
}

#site-title {
    padding: 22px 0 22px 32px;
}

#site-title a {
    font-size: 24px;
    color: #fff;
}

.ie7 #site-title a {
    padding-bottom: 22px;
}

#main-nav {
    height: 40px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    background-color: #fff;
}

#main-nav ul {
    list-style-type: none;
    margin-left: 10px;
}

#main-nav li {
    float: left;
    padding: 13px 30px 0 0;
}

#main-nav li a {
    font-size: 12px;
    font-weight: bold;
    color: #900;
    text-transform: uppercase;
}

#main-nav li > a:hover,
#main-nav li.current-menu-item > a,
#main-nav li.current-page-ancestor > a {
    color: #717171;
}



/* Featured image
-------------------------------------------------------------------------------*/
#featured-image {
    text-align: center;
    margin-bottom: -3px; /* I don't know why it adds 3px to the height of the featured image without this. */
}



/* Main
-------------------------------------------------------------------------------*/
#main {
    position: relative;
}

#page-background {
    position: absolute;
    width: 50%;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -1;
    background-color: #f4f4f4;
}

.front-page {
    max-width: 100%;
    width: 100%;
}

/* Left column
-------------------------------------------------------------------------------*/

#left-col {
    float: left;
    width: 180px;
    padding: 45px 10px 45px 0;
}

.home #left-col {
    display: none;
}

#left-nav li {
    padding: 12px 0;
    border-bottom: 1px solid #eae8e8;
}

#left-nav li:last-child {
    border-bottom: none;
}

#left-nav li a {
    color: #980006;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    margin-left: 10px;
    display: block;
}

#left-nav li a:hover {
    color: #717171;
}

#left-nav li.top_level_page {
    text-transform: uppercase;
}

#left-nav li.current_page_item > a {
    color: #717171;
}

#left-nav li.page_item_has_children ul.children li {
    margin-left: 20px;
    border-bottom: none;
    padding: 8px 0;
}

#left-nav li.page_item_has_children ul.children li:first-child {
    padding-top: 16px;
}

#left-nav li.page_item_has_children ul.children li a {
    font-weight: normal;
}

#left-nav li.page_item_has_children ul.children li:last-child {
    padding-bottom: 0;
}

#mobile-nav {
    display: none;
}



/* Main content column
-------------------------------------------------------------------------------*/

article {
    background-color: #f4f4f4;
    float: left;
    max-width: 450px;
    padding: 45px 35px 70px 35px;
}

article.notch {
    margin-top: -58px;
    border-top: 4px solid #006b7b;
    padding-top: 24px;
}

article h1 {
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 30px;
}

article h2 {
    font-size: 21px;
    margin-top: 45px;
    margin-bottom: 15px;
}

article h3 {
    font-size: 17px;
    margin-top: 36px;
    margin-bottom: 15px;
}

article h4 {
    font-weight: bold;
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 15px;
}

article p {
    line-height: 25px;
    margin-bottom: 20px;
}

article h1 + p {
    margin-top: 50px;
}

article h1 + .accordion-header {
    margin-top: 45px;
}

article a {
    color: #980006;
}

article a:hover {
    color: #555;
}

article ul {
    list-style-type: disc;
    margin-left: 40px;
}

article ol {
    margin-left: 40px;
}

article ul li, article ol li {
    line-height: 25px;
    margin-bottom: 10px;
}

article blockquote {
    margin: 30px 0 45px 95px;
    padding-left: 20px;
    border-left: 3px solid #900;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
}

article blockquote p {
    line-height: 32px;
    margin-bottom: 45px;
}

article .wp-caption {
    max-width: 100%;
    border-top: 1px solid #d7d7d7;
}

article .alignleft {
    float: left;
}

article .aligncenter {
    display: block;
    margin: 0 auto;
}

article .alignright {
    float: right;
}

article .wp-caption.alignright, article img.alignright {
    margin-left: 27px;
}

article .wp-caption.alignright p.wp-caption-text, article img.alignright {
    margin-bottom: 30px;
}

article .wp-caption.alignleft, article img.alignleft {
    margin-right: 27px;
}

article .wp-caption.alignleft p.wp-caption-text, article img.alignleft {
    margin-bottom: 30px;
}

article p.wp-caption-text {
    font-size: 13px;
    line-height: 20px;
    color: #6a6a6a;
    padding: 15px 0 25px 0;
    border-bottom: 1px solid #e0e0e0;
}

article .disclaimer {
    font-size: 12px;
    color: #333;
}

article .disclaimer p {
    line-height: 17px;
}

article tr:nth-child(odd) {
    background-color: #e4e3e3;
}

article tr:nth-child(even) {
    background-color: #fff;
}

article th {
    text-align: left;
    vertical-align: top;
}

article th, article td {
    padding: 10px;
    border-left: 1px solid #f4f4f4;
}

article thead td {
    font-size: 14px;
    font-weight: bold;
    background-color: #fff;
}

article th:first-child, article td:first-child {
    border: none;
}

article td {
    font-size: 12px;
}

article td p {
    line-height: normal;
    margin-bottom: 10px;
}

article td p:last-child {
    margin-bottom: 0;
}



/* Right column
-------------------------------------------------------------------------------*/

#right-col {
    float: left;
    padding: 45px 10px 0 0;
    background-color: #f4f4f4;
}

#right-col aside {
    width: 238px;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

#right-col aside h2 {
    font-size: 17px;
    border-bottom: 1px solid #d5d2d2;
    padding-bottom: 12px;
}

#right-col aside.links li {
    margin-top: 20px;
}

#right-col aside a {
    color: #900;
}

#right-col aside a:hover {
    color: #717171;
}

#right-col aside .secondary {
    font-size: 12px;
    color: #a0a0a0;
    line-height: 17px;
}

#right-col aside p.secondary {
    margin: 20px 0 25px 0;
}

#right-col aside.links {
    padding: 5px 20px 25px 20px;
    width: 198px;
}

#right-col aside.links h2 {
    padding-top: 20px;
}

#right-col aside img {
    border-radius: 5px 5px 0 0;
}

#right-col aside .sidebar-body {
    padding: 20px 20px 0 20px;
}

#right-col aside.image-and-text h2 {
    margin-bottom: 20px;
}

#right-col aside.image-and-text p {
    margin-bottom: 20px;
    line-height: 23px;
}

#right-col aside.image-and-text ul {
    list-style: disc;
    margin-left: 40px;
    margin-bottom: 20px;
}

#right-col aside.image-and-text ol {
    margin-left: 40px;
    margin-bottom: 20px;
}

#right-col aside a.opt-link {
    display: block;
    text-align: center;
    padding: 12px 0;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #f1f0f0;
    border-radius: 0 0 5px 5px;
}

#right-col aside a.opt-link:hover {
    color: #900;
    background-color: #dadada;
}



/* Footer
-------------------------------------------------------------------------------*/
footer {
    clear: both;
}

#site-footer {
    background-color: #dedede;
    padding: 13px 0 30px 0;
}

#site-footer-top {
    margin: 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bcbcbc;
}

#site-footer-top nav {
    float: left;
    padding-top: 6px;
}

#site-footer a {
    color: #971a20;
}

#site-footer a:hover {
    color: #717171;
}

#site-footer-top nav a {
    margin-right: 40px;
}

#site-social {
    float: right;
}

a#site-facebook, a#site-twitter, a#site-linkedin, a#site-youtube, a#site-rss {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-left: 8px;
}

a#site-facebook {
    background: #3b5d98 url('../img/facebook-on.png') no-repeat 11px center;
}

a#site-facebook:hover {
    background-color: #527bb7;
}

a#site-twitter {
    background: #29acdf url('../img/twitter-on.png') no-repeat center center;
}

a#site-twitter:hover {
    background-color: #3ac8ed;
}

a#site-linkedin {
    background: #007db5 url('../img/linkedin-on.png') no-repeat center center;
}

a#site-linkedin:hover {
    background-color: #009dd0;
}

a#site-youtube {
    background: #db2724 url('../img/youtube-on.png') no-repeat center center;
}

a#site-youtube:hover {
    background-color: #f4413d;
}

a#site-rss {
    background: #f2861d url('../img/rss-on.png') no-repeat center center;
}

a#site-rss:hover {
    background-color: #f8a62a;
}

#site-footer-bottom {
    margin: 30px 50px 0 50px;
}

#site-footer-bottom #col1 {
    float: left;
    width: 500px;
    line-height: 24px;
}

#site-footer-bottom #col2 {
    float: left;
    width: 154px;
    height: 210px;
    border-left: 1px solid #bcbcbc;
    padding: 0 10px 0 15px;
}

#site-footer-bottom #col2 ul {
    margin-top: 10px;
}

#site-footer-bottom #col2 li {
    margin-bottom: 10px;
}

#site-footer-bottom #col3 {
    float: left;
    width: 154px;
    height: 210px;
    border-left: 1px solid #bcbcbc;
    padding: 0 10px 0 15px;
}

#site-footer-bottom #col3 ul {
    margin-top: 10px;
}

#site-footer-bottom #col3 li {
    margin-bottom: 10px;
}

#wusm-footer {
    color: #dedede;
    background-color: #333;
    padding-bottom: 20px;
}

#wusm-footer-left {
    float: left;
    margin-left: 10px;
    padding-top: 22px;
}

#copyright {
    font-size: 12px;
    margin-top: 10px;
    color: #767676;
}

#wusm-footer-right {
    margin-right: 10px;
    padding-top: 17px;
}

#wusm-social {
    float: right;
}

a#wusm-facebook, a#wusm-twitter, a#wusm-google-plus {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-left: 8px;
}

a#wusm-facebook {
    background: #5c5c5c url('../img/facebook-off.png') no-repeat 11px center;
}

a#wusm-facebook:hover {
    background: #3b5d98 url('../img/facebook-on.png') no-repeat 11px center;
}

a#wusm-twitter {
    background: #5c5c5c url('../img/twitter-off.png') no-repeat center center;
}

a#wusm-twitter:hover {
    background: #29acdf url('../img/twitter-on.png') no-repeat center center;
}

a#wusm-google-plus {
    background: #5c5c5c url('../img/google-plus-off.png') no-repeat center center;
}

a#wusm-google-plus:hover {
    background: #dd4b39 url('../img/google-plus-on.png') no-repeat center center;
}

#wusm-footer-right nav {
    float: right;
    clear: right;
    margin-top: 10px;
}

#wusm-footer-right nav a {
    text-transform: uppercase;
    font-size: 11px;
    color: #dedede;
    display: inline-block;
    padding: 9px 12px;
    border-left: 1px solid #191919;
}

#wusm-footer-right nav a:hover {
    color: #999;
}

#wusm-footer-right nav a.first-child {
    border: none;
}

#wusm-footer-right nav a.last-child {
    padding-right: 0;
}


/* Search results
-------------------------------------------------------------------------------*/
#search-results-wrapper {
    float: left;
    background-color: #f4f4f4;
}

article.search-results {
    padding-bottom: 25px;
}

.result-title {
    font-size: 16px;
}

.result-url {
    font-size: 11px;
}

#paginate-results {
    clear: left;
    float: left;
    max-width: 450px;
    padding: 0 35px 70px 35px;
}

#paginate-results a {
    color: #980006;
}



/* Mobile navigation
-------------------------------------------------------------------------------*/
#mobile-search-form {
    width: 214px;
    height: 20px;
    padding: 20px 18px;
    margin: 0;
    background-color: #222;
    white-space: nowrap;
    border-bottom: 1px solid #454545;
    box-shadow: 0 1px 0 0 #252525;
}

#mobile-search-box {
    width: 195px;
    font-family: Arial, sans-serif;
    font-style: italic;
    font-size: 14px;
    border: 0;
    padding: 0;
    color: #fff;
    background-color: #222;
}

#mobile-search-box::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
#mobile-search-box:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
#mobile-search-box::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
#mobile-search-box:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

#mobile-search-btn {
    width: 13px;
    border: 0;
}

#jPanelMenu-menu {
    background-color: #333;
}

.admin-bar #jPanelMenu-menu {
    top: 28px;
}

#jPanelMenu-menu .current_page_item a {
    color: #fff;
}

#jPanelMenu-menu a, #jPanelMenu-menu .current_page_item .children a {
    color: #ddd;
}

#jPanelMenu-menu .page_item {
    text-transform: uppercase;
    padding: 14px 18px;
    border-bottom: 1px solid #454545;
    box-shadow: 0 1px 0 0 #252525;
}

#jPanelMenu-menu .page_item .children .page_item {
    text-transform: none;
    padding: 14px 18px 0 14px;
    border-bottom: none;
    box-shadow: none;
}

#jPanelMenu-menu .page_item .children .page_item a {
    font-weight: 400;
}

.jPanelMenu-panel {
    box-shadow: 4px 0 10px 0 #252525;
}



/* Media queries
-------------------------------------------------------------------------------*/
@media screen and (max-width:960px) {
    .wrapper {
        max-width: 640px;
    }

    #header-logo-row .wrapper {
        position: relative;
        overflow: hidden;
    }

    #header-logo {
        display: none;
    }

    #header-text {
        display: inline-block;
        padding: 10px;
    }

    #header-text a {
        color: #980006;
    }

    #utility-bar {
        position: absolute;
        right: -252px;
        background-color: #fff;
    }

    #utility-nav {
        margin-top: 10px;
    }

    #mobile-menu-icon {
        display: block;
        float: right;
        position: relative;
        cursor: pointer;
        margin: 20px 22px 19px;
    }

    #search-form {
        display: none;
    }

    #site-title {
        padding: 22px 22px 22px 18px;
    }

    #site-title a {
        font-size: 23px;
    }

    #main-nav {
        display: none;
    }

    #featured-image {
        margin-bottom: -2px;
    }

    #main {
        background-color: #f4f4f4;
    }

    #page-background {
        display: none;
    }

    #left-col {
        display: none;
    }

    article {
        float: none;
    }

    article.notch {
        margin-top: 0;
        border-top: none;
    }

    #right-col {
        padding: 0 35px 70px 35px;
        width: 396px;
    }

    #right-col aside {
        margin-left: auto;
        margin-right: auto;
    }

    footer {
        background-color: #dedede;
    }

    #site-footer, #wusm-footer-left, #wusm-footer-right {
        padding-left: 35px;
        padding-right: 35px;
    }

    #site-footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    #site-footer-top {
        padding-bottom: 20px;
    }

    #site-footer-top nav {
        float: none;
        padding-top: 0;
    }

    #site-footer-top nav a {
        margin-right: 0;
        display: block;
        line-height: 24px;
    }

    #site-social {
        float: none;
        margin-top: 20px;
    }

    a#site-facebook {
        margin-left: 0;
    }

    #site-footer-bottom {
        margin: 20px 10px 0 10px;
    }

    #site-footer-bottom #col1 {
        float: none;
        width: auto;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #bcbcbc;
    }

    #site-footer-bottom #col2 {
        float: none;
        width: auto;
        height: auto;
        border-left: none;
        padding: 0 0 10px 0;
        margin-bottom: 20px;
        border-bottom: 1px solid #bcbcbc;
    }

    #site-footer-bottom #col3 {
        float: none;
        width: auto;
        height: auto;
        border-left: none;
        padding: 0;
    }

    #wusm-footer-left {
        padding-top: 22px;
    }

    #wusm-footer-left {
        float: none;
        text-align: center;
        margin: 0;
        padding-top: 18px;
    }

    #wusm-footer-right {
        margin-right: 0;
        padding-top: 20px;
        text-align: center;
    }

    #wusm-social {
        float: none;
    }

    a#wusm-facebook {
        margin-left: 0;
    }

    #wusm-footer-right nav {
        float: none;
        clear: none;
        margin-top: 17px;
    }

    #wusm-footer-right nav a.last-child {
        padding-right: 12px;
    }
}

@media screen and (max-width:518px) {

    article, #site-footer, #wusm-footer-left, #wusm-footer-right {
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }

    article blockquote {
        margin-left: 30px;
    }

    article th, article td {
        padding: 5px;
    }

    #right-col {
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
}